body {
    background-color: rgb(222, 155, 189);
    color: beige;
    /*text color*/
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

h5 {
    text-align: center;
    font-style: italic;
    background-color: darkgray;
    font-weight: bolder;
    color: blue;
}

a {
    color: rgb(173, 221, 246);
}

a:visted {
    color: blue
}

img {
    border: 2px solid fuchsia;
    padding: 3px;
    margin: 5px;
    /*centers images and stuff*/
    /* display: block;
    margin: auto;*/
}

.imgcenter {
    display: block;
    margin: auto;
}

.rizz {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: brown;
        border: dashed black;
        font-size:x-large;
        text-align: center;
    }

    /*positioning styles*/
    .common{
        position: absolute; 
        border: 5px solid black;
        background-color: bisque;
    }